* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    transition: all .4s;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

li {
    list-style: none;
}

@import url('./pages/body/auth/auth.css');
@import url('./components/chatList/chatlist.css');