:root {
    --bs-blue: #7269ef;
    --bs-indigo: #564ab1;
    --bs-purple: #8e4aec;
    --bs-pink: #e83e8c;
    --bs-red: #ef476f;
    --bs-orange: #fc814a;
    --bs-yellow: #ffd166;
    --bs-green: #06d6a0;
    --bs-teal: #050505;
    --bs-cyan: #50a5f1;
    --bs-white: #fff;
    --bs-gray: #7a7f9a;
    --bs-gray-dark: #343a40;
    --bs-primary: #7269ef;
    --bs-secondary: #7a7f9a;
    --bs-success: #06d6a0;
    --bs-info: #50a5f1;
    --bs-warning: #ffd166;
    --bs-danger: #ef476f;
    --bs-light: #e6ebf5;
    --bs-dark: #343a40;
    --bs-font-sans-serif: "Public Sans", sans-serif;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0));
}

.form-page {
    width: 100%;
    min-height: 100vh;
    background: #e6ebf5;
}

.form-page .f-center {
    margin: auto;
    max-width: 400px;
}

.form-page .f-center h2 {
    text-align: center;
    padding: 80px 0 0 0;
}

.form-page .f-center p {
    text-align: center;
    padding: 10px 0 50px 0;
}

.form-page .f-center .form-groups {
    max-width: 400px;
    background: white;
    border-radius: 5px;
}

.form-page .f-center .form-groups form {
    padding: 0 20px;
}

.form-page .f-center .form-groups form .form-group label {
    font-size: 10px 15px;
}

.form-page .f-center .form-groups form .form-group {
    display: block;
    padding: 10px 0;
}

.form-page .f-center .form-groups form .form-group label {
    display: block;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 10px 0;
}

.form-page .f-center .form-groups form .form-group input {
    width: 90%;
    padding: 8px;
}

.form-page .f-center .form-groups button {
    width: 95%;
    color: white;
    background-color: #7269ef;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0;
}